{% load static %}
<section class="hero-section">
    <div class="container h-100 d-flex align-items-center">
        <div class="row justify-content-center w-100">
            <div class="col-lg-8 text-center">
                <h1 class="display-2 fw-bold mb-4">Новинки 2025 года</h1>
                <p class="lead fs-3 mb-5">Эксклюзивные кастомные вещи для настоящих ценителей</p>
                <a href="#" class="btn btn-primary btn-lg px-5 py-3 fs-4">Смотреть новинки</a>
            </div>
        </div>
    </div>
</section>